@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    scroll-behavior: smooth;
}

   body {
    font-family: "Kumbh Sans", serif;
    /* font-family: 'Roboto', sans-serif; */
  }
  
 #mainMessage::-webkit-scrollbar {
    width: 10px;
  }
  
 #mainMessage::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
  }
  
 #mainMessage::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
  }
  
 #mainMessage::-webkit-scrollbar-thumb:hover {
    opacity: 0.5;
  }