@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    scroll-behavior: smooth;
}

 #wishes::-webkit-scrollbar {
    width: 10px;
  }
  
#wishes::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
  }
  
 #wishes::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
  }

#wishes::-webkit-scrollbar-thumb:hover {
    opacity: 0.5;
  }

  input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label {
  @apply top-0 
    -translate-y-1/2 
    bg-gray-200
    px-4;
}

input:-webkit-autofill {
  -webkit-text-fill-color:black;
  -webkit-background-clip: text;
}

input,
textarea {
  font: inherit;
}


.pswp__img{
  object-fit: contain;
}